Package: com.legacymusic.app
Name: audioNINJA Legacy
Version: 6
Architecture: iphoneos-arm
Description: YouTube Music client for legacy iOS devices
Maintainer: superyosh23
Author: superyosh23
Section: Multimedia
